<div>
   <div>
       <h4>Sign Up</h4>
       <form id="signup-form">
           <div>
            <input type="email" id="signup-email" required/>
            <label for="signup-email">Email Address</label>
           </div>
           <div>
            <input type="password" id="signup-password" required/>
            <label for="signup-password">Password</label>
           </div>
           <div>
            <input type="text" id="signup-age" required/>
            <label for="signup-age">Age</label>
           </div>
           <button>Sign Up</button>
       </form>
   </div> 
</div>