<div>
    <div>
        <h4>New Errand</h4>
        <form id="create-form">
            <div>
             <input type="text" id="errand-location" required/>
             <label for="errand-location">Location</label>
            </div>
            <div id="errand-list">
             <input type="text" id="errand-listitem" required/>
             <label for="errand-list">Errands</label>
             <button id="erranditem-new">+</button>
            </div>
            <button>Create Errand</button>
        </form>
    </div> 
 </div>
